html, body {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    height:100%;
}

.container-fluid {
    height:100%;
}

.container-fluid .row {
    height:100%;
}

#vesmir-container {
    height:100%;
    padding: 0;
}

#info-container {
    height:100%;
    background-color: #222;
    color: #CCC;
}

text {
    fill: white;
}

.link {
    stroke: #999;
}