html, body {
    margin:0;
    padding:0;
    border: 0;
    width:100%;
    height:100%;
}

.container-fluid {
    height:100%;
}

.container-fluid .row {
    height:100%;
}

#vesmir-container {
    font-size: 12px;
    height:100%;
    padding: 0;
}

#info-container {
    height:100%;
    background-color: #222;
    color: #CCC;
}

.info-content {
    color: white;
    padding: 0;
}

.info-content header {
    padding: 20px;
    margin: 20px 0 20px 0;
}

.info-content h2 {
    padding: 0;
    margin: 0;
}

.info-content p {
    padding: 0;
    margin: 0;
}

#info-project-name {
    background-color: #9467bd;
}

#info-contract-name {
    background-color: #1f77b4;
}

#info-company-name {
    background-color: #d62728;
}

#info-institution-name {
    background-color: #2ca02c;
}

#info-tender-name {
    background-color: #7f7f7f;
}

text {
    fill: white;
}

.link {
    stroke: #999;
}

.node {
    cursor: pointer;
 }

.node-project circle {
    fill: #9467bd;
}

.node-company circle {
    fill: #d62728;
}

.node-contract circle {
    fill: #1f77b4;
}

.node-institution circle {
    fill: #2ca02c;
}

.node-tender circle {
    fill: #7f7f7f;
}

.node-opis circle {
    fill: #ff7f0e;
    r: 40;
}

.node-opis {
    font-size: 26px;
    font-weight: 800;
}

.node-opis text {
    fill: black;
}

#options {
    padding: 0;
}